# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

# Ignorar archivos tfvars por seguridad
*.tfvars
*.tfvars.json

# Excepción: permitir variables del ambiente DEV
!terraform/environments/dev/terraform.tfvars

# Mantener el lock file
!.terraform.lock.hcl

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
crash.log
*.log

# Credenciales
*.pem
*.key
*.pfx

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db